button {
  min-width: 100px;
  min-height: 40px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
}

button:hover {
  box-shadow: #FC0 1px 0 10px;
}

.layout {
  width: 100%;
  height: 100vh;
}

.dark {
  background-color: #293234;
}

.light {
  background-color: #b4d0ca
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  gap: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-panel {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  color: rgba(129, 95, 7, 0.926);
}

.btn-active {
  color: rgba(222, 28, 28, 0.942);
}